{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:node/recommended",
    "plugin:unicorn/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "jest/prefer-to-be": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "no-global-assign": [
      "error",
      {
        "exceptions": ["console"]
      }
    ],
    "unicorn/import-style": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-process-exit": "off",
    "unicorn/no-reduce": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/template-indent": "off",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules"]
      }
    ],
    "node/no-extraneous-import": ["error"]
  },
  "overrides": [
    {
      "files": ["__tests__/**/*.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "node/no-extraneous-import": "off",
        "node/no-unpublished-import": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["src/types/index.ts"],
      "rules": {
        "@typescript-eslint/no-namespace": "off"
      }
    }
  ]
}
